html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Space Mono", sans-serif;
    margin: 1.25em auto;
    padding: 0 1em;
    max-width: 44em;
    overflow-wrap: anywhere;
}

@media (min-width: 800px) {
    body {
        margin: 5em auto;
        padding: 0 1.5em;
    }
}

p, h1, h3 {
    font-family: "Space Mono", sans-serif;
    color: #282828
}

a {
    font-family: "Space Mono", sans-serif;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

p, li {
    font-size: 15px;
    margin-bottom: 1px;
}

ul {
    padding-left: 1.2em;
}
