body {
    font-family: "Space Mono", sans-serif;
    padding: 0;
    margin: 5em 20em;
}

p, h1, h3 {
    font-family: "Space Mono", sans-serif;
    color: #282828
}

a {
    font-family: "Space Mono", sans-serif;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

p, li {
    font-size: 15px;
    margin-bottom: 1px;
}